$main_color: #001c5e;
$accent_color: #0349ff;
$cta_color: #0049ff;

$navbar_bg: #001c5e;
$navbar_item_color: #ffffff;

$main_text: #1a1a1a;
$helper_text: #001c5e;

$stroke: #001c5e;
$inputs_layer: #ecf2fb;

$text_muted: #8b9bb4;

$stroke-color: #cbd5e1;

$breadcrumbs_color: #808eaf;

$open_menu_bg: #000000b2;
$menu_arrows_color: #c4bcbc;
$menu_hover_color: #012b8f;

$transparent: rgba(255, 255, 255, 0);

$black: #000000;
$white: #ffffff;
