.news-section {
  width: 100%;
  padding: 60px 0;
  background-color: $white;
  box-sizing: border-box;
  @media (max-width: 991px) {
    padding: 40px 0;
  }
}

.news-container {
  max-width: 1480px;
  margin: 0 auto;
  position: relative;
}

.section-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $main_text;
  margin: 0 16px 40px 16px;

  @media (max-width: 991px) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.news-swiper {
  position: relative;
  padding: 0 20px;

  .swiper-button-next {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url("./../assets/icons/main_page/news_swiper/arrow-right.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    background-color: $white;
    top: 50%;
    right: 0px;
    z-index: 1;
    &::after {
      display: none;
    }
    @media (max-width: 991px) {
      width: 36px;
      height: 36px;
    }
  }
  .swiper-button-prev {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url("./../assets/icons/main_page/news_swiper/arrow-left.svg");
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    background-color: $white;
    top: 50%;
    left: 0;
    z-index: 1;
    &::after {
      display: none;
    }
    @media (max-width: 991px) {
      width: 36px;
      height: 36px;
    }
  }
}

.news-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: 992px) {
    grid-template-columns: 1.1fr 1.3fr;
    gap: 49px;
    align-items: flex-start;
  }

  .news-image {
    width: 100%;
    width: auto;
    height: 430px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    text-align: left;
  }

  .news-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: $main_text;
    margin: 0 0 20px 0;
    letter-spacing: 0.5px;
    max-width: 90%;
    @media (max-width: 991px) {
      font-size: 17px;
      line-height: 24px;
    }
  }

  .news-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: $main_text;
    margin: 0 0 16px 0;

    &:last-of-type {
      margin-bottom: 24px;
    }

    @media (max-width: 991px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .news-link {
    display: inline-flex;
    align-items: center;
    color: $accent_color;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    margin-top: auto;
    transition: color 0.2s ease;

    @media (max-width: 991px) {
      font-size: 15px;
    }

    &:hover {
      color: $menu_hover_color;
      .arrow {
        filter: brightness(0) saturate(100%) invert(12%) sepia(99%)
          saturate(2074%) hue-rotate(214deg) brightness(73%) contrast(110%);
      }
    }

    .arrow {
      margin-left: 18px;
      font-weight: 800;

      @media (max-width: 991px) {
        margin-left: 14px;
      }
    }
  }
}

.news-swiper {
  .swiper-button-prev,
  .swiper-button-next {
    color: $main_color;
    font-weight: bold;

    &::after {
      font-size: 1.5rem;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-pagination-bullet-active {
    background: $accent_color;
  }
}
