.pagination {
  width: 100%;
  margin: 36px auto;
  &_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    .dots {
      margin: 8px 0 0 0;
    }
    .element {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 9px;
      height: 35px;
      background-color: $white;
      cursor: pointer;
      box-sizing: border-box;
      text-decoration: none;
      span {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 35px;
        color: rgba(26, 26, 26, 0.7);
        text-decoration: none;
        margin: 0;
      }
      &.active {
        span {
          font-weight: 600;
          color: $accent_color;
        }
      }
      &:hover {
        span {
          font-weight: 600;
          color: $accent_color;
        }
      }
    }
  }
}
