.offers-filter {
  min-width: 255px;
  width: auto;
  padding: 24px;

  @media (max-width: 1300px) {
    .filters-box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0 16px;
    }
  }

  @media (max-width: 991px) {
    padding: 0;
    margin-top: 24px;
  }

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 28px;
    color: $main_text;

    @media (max-width: 760px) {
      font-size: 18px;
      margin: 0 0 18px 0;
    }
  }

  &__actions {
    min-width: 255px;
    width: auto;
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1300px) {
      justify-content: flex-start;
      gap: 24px;
      margin-top: 16px;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
  width: 255px;

  @media (max-width: 760px) {
    width: 100%;
    margin-bottom: 12px;
  }

  &.magnifier {
    position: relative;
  }

  label {
    color: rgba(26, 26, 26, 0.7);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    margin-bottom: 10px;
  }
}

input,
select {
  width: 100%;
  height: 48px;

  padding: 0 16px;

  border: 1px solid $stroke-color;
  background: $white;
  color: $main_text;

  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;

  outline: none;
  transition: 0.2s;

  &:focus {
    border-color: $accent_color;
  }

  &::placeholder {
    color: $main_text;
  }
}

select {
  appearance: none;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='%23808eaf'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  padding-right: 42px;
}

.search-input {
  position: relative;

  input {
    padding-right: 48px;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;

    width: 48px;
    height: 48px;

    border: none;
    background: $transparent;
    color: $breadcrumbs_color;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;

    &:hover {
      color: $accent_color;
    }

    i {
      font-size: 18px;
    }
  }
}

.view-switch {
  display: flex;
  gap: 24px;

  &__btn {
    flex: 1;

    height: 48px;
    width: 115px;
    box-sizing: border-box;
    border: 1px solid $cta_color;
    background: $white;
    color: $cta_color;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: $cta_color;
      color: $white;
    }

    &.active {
      background: $cta_color;
      color: $white;
      &:hover {
        background: $cta_hover_color;
        border-color: $cta_hover_color;
      }
    }

    @media (max-width: 760px) {
      font-size: 13px;
    }
  }
}

.btn-link {
  padding: 0;

  border: none;
  background: none;

  color: $cta_color;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $cta_hover_color;
  }

  @media (max-width: 760px) {
    font-size: 13px;
  }
}

.btn-primary {
  min-width: 154px;
  height: 45px;

  border: 1px solid $cta_color;
  background: $white;
  color: $cta_color;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  cursor: pointer;
  transition: 0.2s;

  &:hover {
    border-color: $cta_color;
    background: $cta_color;
    color: $white;
  }

  @media (max-width: 760px) {
    font-size: 13px;
  }
}
